*{
    padding: 0;
    margin: 0% ;
    box-sizing: border-box;
    
}

.cal{
    padding: 10%
}


body{
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8E7DBE;
    font-family: Arial;
    row-gap: 10vh;
}

.calculatrice {
    background-color: rgb(117, 73, 126);
    box-shadow: 0 0 5px rgb(92, 33, 105);
    flex-direction: column;
    display: flex;
    width: 300px;
    height: 450px;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    border-radius: 5px;
    border: solid 3px  rgb(110, 59, 121);
}

.ecran {
    width: 90%;
    height: 100px;
    background-color: rgb(233, 215, 236);
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    padding: 2%;
    text-align: center;
    font-size: 30px ;
    
}

.touches {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    justify-content: center;
    padding: 5px;
    grid-gap: 5px;
   
}

input{
     border: solid 3px  rgb(110, 59, 121);
    position: relative;
    display: block;
    justify-content: end;
    align-items: end;
}
.alert {
    position: relative;
    padding: 5px 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    justify-content: center;
    row-gap: 10vh;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(92, 33, 105);
  }
  
h1{
    text-align: center;
}
 
  .alert.info {
    
    background-color: rgb(129, 69, 141);
    border: 2px solid rgb(92, 40, 102);

}



  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }


  .bouton {
    /* border: solid 3px  rgb(110, 59, 121); */
    background-color: rgb(233, 215, 236);
    color: rgb(110, 59, 121);
    outline: none;
    border:  10px rgb(67, 23, 77);
    box-shadow: -2px 1px 5px rgb(61, 17, 71);
  }

  .bouton:hover {
    
    background-color: rgba(239, 215, 236, 0.733);
  }

  .bouton:focus {
    background-color: rgba(236, 202, 232, 0.445);
    box-shadow: none;

  }